/v_env/
/example_SD_model.py
/example_spike_events.py
/pipeline.png
/utils_Hallermann.py
/reference_data/output_hallermann_dataset.csv
/outputs/fitting_adjusted_MSSM/param_estimation_MSSM_0_0.pkl
/outputs/fitting_adjusted_MSSM/param_estimation_MSSM_0_1.pkl
/outputs/fitting_adjusted_MSSM/param_estimation_MSSM_0_2.pkl
/outputs/fitting_freq_response/param_estimation_MSSM_0_0.pkl
/outputs/fitting_freq_response/param_estimation_MSSM_0_1.pkl
/outputs/fitting_freq_response/param_estimation_MSSM_0_2.pkl
/outputs/fitting_freq_response/param_estimation_MSSM_0_3.pkl
/outputs/fitting_freq_response/param_estimation_MSSM_0_4.pkl
/outputs/fitting_freq_response/param_estimation_MSSM_0_5.pkl
/outputs/fitting_freq_response/param_estimation_MSSM_0_6.pkl
/outputs/fitting_freq_response/param_estimation_MSSM_1_0.pkl
/outputs/fitting_freq_response/param_estimation_MSSM_1_1.pkl
/outputs/fitting_freq_response/param_estimation_MSSM_1_2.pkl
/outputs/fitting_freq_response/param_estimation_MSSM_1_3.pkl
/outputs/fitting_freq_response/param_estimation_MSSM_1_4.pkl
/outputs/fitting_freq_response/param_estimation_MSSM_1_5.pkl
/outputs/fitting_freq_response/param_estimation_MSSM_1_6.pkl
/outputs/fitting_freq_response/param_estimation_MSSM_1_7.pkl
/outputs/fitting_freq_response/param_estimation_TM_0_0.pkl
/outputs/fitting_freq_response/param_estimation_TM_0_1.pkl
/outputs/fitting_freq_response/param_estimation_TM_0_2.pkl
/outputs/fitting_freq_response/param_estimation_TM_0_3.pkl
/outputs/fitting_freq_response/param_estimation_TM_0_4.pkl
/outputs/fitting_freq_response/param_estimation_TM_0_5.pkl
/outputs/fitting_Hallermann/param_estimation_MSSM_0_0.pkl
/outputs/fitting_Hallermann/param_estimation_MSSM_0_4.pkl
/outputs/fitting_Hallermann/param_estimation_MSSM_0_5.pkl
/outputs/fitting_adjusted_MSSM/
/outputs/fitting_freq_response/
/outputs/fitting_Hallermann/

# OS generated files #
######################
.DS_Store
.DS_Store?

# PYCHARM #
######################
.idea/
__pycache__/
libraries/__pycache__/
synaptic_dynamic_models/__pycache__/